@import "../../../data/styles.css";

.work {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.timeline-title {
	font-family: var(--secondary-font);
	color: var(--primary-color);
	font-size: 16px;
	font-weight: 700;
}

.work-description {
	color: var(--secondary-color);
	justify-content: center; 
	text-align: left;
}
